In [1]:
from flask import Flask, jsonify, render_template                     #imports Flask CLASS and jsonify funct
from flask_cors import CORS
import yfinance as yf
import os
from flask_sqlalchemy import SQLAlchemy
import pandas as pd
import time
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from config import sql_PASS, sql_USER, sql_HOST

In [4]:
engine = create_engine(f"postgres://{sql_USER}:{sql_PASS}@{sql_HOST}:5432/detlgil9o37p0")

In [5]:
top5_df = pd.read_html('https://finance.yahoo.com/most-active')[0]
search = ''
searchList = []
count = 0
while count<5:
    search += top5_df['Symbol'].iloc[count] + ' '
    searchList.append(top5_df['Symbol'].iloc[count])
    count+=1
tickers = yf.Tickers(search)
stockDict = {}
for name in tickers.tickers:
    stockSingle_df = name.history().iloc[:,range(0,5)]
    time.sleep(0.1)
    symbol = name.info['symbol']
    stockDict.update({symbol:stockSingle_df})
for (ticker, df) in stockDict.items():
    df.to_sql(ticker, engine, if_exists='replace')

In [6]:
top5_df

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,FCEL,"FuelCell Energy, Inc.",13.1000,2.3500,+21.89%,95.221M,52.74M,4.223B,NaN,NaN
1,NIO,NIO Limited,47.0500,-0.5300,-1.11%,57.834M,171.662M,73.351B,NaN,NaN
2,AAPL,Apple Inc.,131.9300,0.0500,+0.04%,49.353M,118.828M,2.243T,40.22,NaN
3,AAL,American Airlines Group Inc.,15.9000,0.4300,+2.75%,45.947M,76.716M,9.714B,NaN,NaN
4,PLTR,Palantir Technologies Inc.,28.9100,0.8700,+3.11%,42.759M,66.265M,54.295B,NaN,NaN
5,FEYE,"FireEye, Inc.",24.4600,2.0600,+9.20%,31.567M,6.647M,5.737B,NaN,NaN
6,GE,General Electric Company,10.8900,0.2800,+2.64%,30.781M,105.203M,95.395B,30.94,NaN
7,MRNA,"Moderna, Inc.",130.4200,4.5400,+3.61%,28.551M,19.095M,51.608B,NaN,NaN
8,PLUG,Plug Power Inc.,36.0600,0.3700,+1.04%,27.641M,33.877M,14.986B,NaN,NaN
9,F,Ford Motor Company,8.9900,0.2000,+2.28%,25.943M,65.077M,35.766B,NaN,NaN
10,BAC,Bank of America Corporation,30.1400,0.9300,+3.18%,25.365M,58.126M,260.735B,14.85,NaN
11,TSLA,"Tesla, Inc.",647.1600,6.8200,+1.07%,22.467M,47.13M,613.444B,1237.40,NaN
12,SRNE,"Sorrento Therapeutics, Inc.",8.2100,0.9900,+13.75%,22.326M,16.345M,2.248B,NaN,NaN
13,NKLA,Nikola Corporation,15.0900,-1.7400,-10.37%,22.112M,24.806M,5.794B,NaN,NaN
14,CCL,Carnival Corporation & Plc,20.8400,1.0300,+5.20%,21.964M,51.046M,23.008B,NaN,NaN
15,SWN,Southwestern Energy Company,3.6500,0.3400,+10.27%,21.723M,16.234M,2.462B,NaN,NaN
16,PFE,Pfizer Inc.,37.5300,0.7800,+2.14%,21.058M,43.076M,208.579B,24.40,NaN
17,MRO,Marathon Oil Corporation,6.7400,0.4300,+6.89%,19.691M,30.167M,5.324B,NaN,NaN
18,ITUB,Itaú Unibanco Holding S.A.,6.1400,0.0800,+1.32%,19.419M,36.326M,56.866B,9.59,NaN
19,WFC,Wells Fargo & Company,30.1100,1.1600,+3.99%,18.258M,39.605M,124.51B,79.04,NaN
20,QS,QuantumScape Corporation,117.7500,-13.9200,-10.57%,18.236M,6.896M,42.739B,NaN,NaN
21,T,AT&T Inc.,28.7400,0.3400,+1.18%,17.97M,41.325M,204.766B,18.90,NaN
22,RIDE,Lordstown Motors Corp.,23.0600,2.5400,+12.38%,17.296M,6.098M,3.804B,NaN,NaN
23,NOK,Nokia Corporation,3.8962,0.0162,+0.42%,17.067M,30.415M,21.783B,NaN,NaN
24,AMD,"Advanced Micro Devices, Inc.",91.8600,-1.3000,-1.40%,15.101M,48.286M,110.606B,124.47,NaN

In [8]:
top5_df = top5_df.iloc[range(0,5)]
top5_df

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,FCEL,"FuelCell Energy, Inc.",13.10,2.35,+21.89%,95.221M,52.74M,4.223B,NaN,NaN
1,NIO,NIO Limited,47.05,-0.53,-1.11%,57.834M,171.662M,73.351B,NaN,NaN
2,AAPL,Apple Inc.,131.93,0.05,+0.04%,49.353M,118.828M,2.243T,40.22,NaN
3,AAL,American Airlines Group Inc.,15.90,0.43,+2.75%,45.947M,76.716M,9.714B,NaN,NaN
4,PLTR,Palantir Technologies Inc.,28.91,0.87,+3.11%,42.759M,66.265M,54.295B,NaN,NaN