In [1]:
from flask import Flask, jsonify, render_template
from flask_cors import CORS
import yfinance as yf
import os
from flask_sqlalchemy import SQLAlchemy
import pandas as pd

# from sqlalchemy import 
import time
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from config import sql_PASS, sql_USER, sql_HOST

# Base = automap_base()
# base = Base.prepare(engine, reflect=True)

In [2]:
engine = create_engine(f"postgres://{sql_USER}:{sql_PASS}@{sql_HOST}:5432/stockDashboard_db")
session = Session(engine)
# Base.prepare(engine, reflect=True)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "NIO" does not exist
LINE 1: SELECT * FROM "NIO"
                      ^

[SQL: SELECT * FROM "NIO"]
(Background on this error at: http://sqlalche.me/e/f405)

[]

In [4]:
stock_df = pd.read_html('https://finance.yahoo.com/most-active')[0]
stock_df.head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,BNGO,"Bionano Genomics, Inc.",9.10,0.67,+7.92%,111.319M,63.08M,2.069B,NaN,NaN
1,NIO,NIO Limited,57.89,1.62,+2.88%,86.571M,180.383M,90.245B,NaN,NaN
2,BB,BlackBerry Limited,11.76,1.92,+19.51%,83.381M,21.48M,6.634B,NaN,NaN
3,GME,GameStop Corp.,39.79,4.29,+12.08%,67.122M,13.614M,2.775B,NaN,NaN
4,AAPL,Apple Inc.,127.93,0.79,+0.62%,65.628M,108.77M,2.152T,39.0,NaN

In [5]:
stock_df = stock_df.loc[stock_df.iloc[:,2]<1000]
top5_df = stock_df.iloc[range(0,5), range(0,6)]
for (index, row) in top5_df.iterrows():
    print(row)

Symbol                                BNGO
Name                Bionano Genomics, Inc.
Price (Intraday)                       9.1
Change                                0.67
% Change                            +7.92%
Volume                            111.319M
Name: 0, dtype: object
Symbol                      NIO
Name                NIO Limited
Price (Intraday)          57.89
Change                     1.62
% Change                 +2.88%
Volume                  86.571M
Name: 1, dtype: object
Symbol                              BB
Name                BlackBerry Limited
Price (Intraday)                 11.76
Change                            1.92
% Change                       +19.51%
Volume                         83.381M
Name: 2, dtype: object
Symbol                         GME
Name                GameStop Corp.
Price (Intraday)             39.79
Change                        4.29
% Change                   +12.08%
Volume                     67.122M
Name: 3, dtype: object
Symbol                    AAPL
Name                Apple Inc.
Price (Intraday)        127.93
Change                    0.79
% Change                +0.62%
Volume                 65.628M
Name: 4, dtype: object

In [6]:
search = ''
searchList = []
count = 0
while count<5:
    search += top5_df['Symbol'].iloc[count] + ' '
    searchList.append(top5_df['Symbol'].iloc[count])
    count+=1


search

'BNGO NIO BB GME AAPL '

In [7]:
tickers = yf.Tickers(search)

In [8]:
stockDict = {}
master_df = pd.DataFrame(columns=['Open', 'High', 'Low', 'Close', 'Volume', 'Ticker'])
for name in tickers.tickers:
    stockSingle_df = (name.history().iloc[:,range(0,5)])
    time.sleep(0.1)
    stockSingle_df['Ticker'] = name.info['symbol']
    master_df = master_df.append(stockSingle_df)
    # stockDict.update({symbol:stockSingle_df})
master_df = master_df.reset_index()

In [9]:
master_df.rename(columns={'index':'Date'}, inplace=True)
master_df

,Date,Open,High,Low,Close,Volume,Ticker
0,2020-12-21,0.580000,0.590000,0.550000,0.560000,15022500,BNGO
1,2020-12-22,0.550000,0.560000,0.520000,0.550000,8570700,BNGO
2,2020-12-23,0.570000,0.820000,0.560000,0.780000,86868500,BNGO
3,2020-12-24,0.750000,0.750000,0.660000,0.710000,14085100,BNGO
4,2020-12-28,0.880000,1.020000,0.830000,0.880000,69362800,BNGO
...,...,...,...,...,...,...,...
90,2021-01-12,128.500000,129.690002,126.860001,128.800003,91951100,AAPL
91,2021-01-13,128.759995,131.449997,128.490005,130.889999,88636800,AAPL
92,2021-01-14,130.800003,131.000000,128.759995,128.910004,90221800,AAPL
93,2021-01-15,128.779999,130.220001,127.000000,127.139999,111598500,AAPL
94,2021-01-19,127.779999,128.710007,126.938004,127.925003,65756282,AAPL

In [16]:
master_df.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume            object
Ticker            object
dtype: object

In [19]:
master_df.to_sql("Master", engine, index=False, if_exists='replace')

In [18]:
for x in engine.execute('SELECT * FROM "Master"'):
    print(x.index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94

In [86]:
information = 
information

'NIO'